@model DominoProject.ViewModels.UserInfoViewModel
<h2>Информация об аккаунте</h2>
<br />
Имя: @Model.Name
<br />
Фамилия: @Model.Surname
<br />
Группа: @Model.Group
<br />
Email: @Model.Email
<br />
Роль: @Model.RoleName
<br />
<a asp-action="Index" asp-controller="Home">Назад</a>
